@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700|Russo+One');

* {
    font-family: 'Russo One', sans-serif;
}
body {
    background-color: lightblue;
}
h2 {
    color: #5b5b5b;
    font-weight: 400;
    padding-left: 30px;
}
.counter {
    width: 230px;
    height: 80px;
    padding: 30px 0 10px 15px;
    margin: 30px 0 0 30px;
    border: 1px solid gray;
    position: relative;
    background-color: #00485b;
}
.plus, .minus {
    width: 80px;
    margin-bottom: 10px;
}
.result {
    width: 120px;
    position: absolute;
    left: 100px;
    top: 15px;
    font-size: 70px;
    color: #fff;
    text-align: right;
}
.button-plus, 
.button-minus {
    width: 70px;
}
.button-plus {
    background-color: #8fea8f;
}
.button-minus {
    background-color: #ffa5a5;
}
