body {
    background-color: lightblue;
}

div {
    border: 1px solid blue;
}

.counter {
    width: 400px;
    border: 1px solid coral;
    position: relative;
}

.plus, .minus {
    width: 200px;
}
.result {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 0;
    font-size: 30px;
}